# IIS/PULP iDMA engine + optional proxy from Cheshire PR
CONFIG_DMADEVICES=y
CONFIG_IIS_IDMA_ENGINE=m
CONFIG_IIS_IDMA_PROXY=m

# Optional, useful while iterating modules.
CONFIG_MODULE_UNLOAD=y

# Optional, useful for standalone memcpy testing. Disable for production.
CONFIG_DMATEST=m
