CONFIG_NONPORTABLE=y
# CONFIG_ARCH_RV32I is not set
# CONFIG_RISCV_SLOW_UNALIGNED_ACCESS is not set
# CONFIG_RISCV_EFFICIENT_UNALIGNED_ACCESS is not set
# CONFIG_EFI is not set
# CONFIG_PHYS_RAM_BASE_FIXED is not set
# CONFIG_BUILTIN_DTB is not set
# CONFIG_HVC_RISCV_SBI is not set
