# CONFIG_IKCONFIG is not set
# CONFIG_IKCONFIG_PROC is not set

####CONFIG_CONSOLE_LOGLEVEL_DEFAULT=4
####CONFIG_MESSAGE_LOGLEVEL_DEFAULT=4
# CONFIG_DEBUG_BUGVERBOSE is not set

# CONFIG_FRAME_POINTER is not set
# CONFIG_DEBUG_FS is not set

# CONFIG_DEBUG_PAGEALLOC is not set
# CONFIG_SCHED_STACK_END_CHECK is not set
# CONFIG_DEBUG_VM_IRQSOFF is not set
# CONFIG_DEBUG_VM is not set
# CONFIG_DEBUG_VM_PGTABLE is not set
# CONFIG_DEBUG_MEMORY_INIT is not set

# CONFIG_LOCKUP_DETECTOR is not set
# CONFIG_SOFTLOCKUP_DETECTOR is not set
# CONFIG_DETECT_HUNG_TASK is not set
# CONFIG_WQ_WATCHDOG is not set

# CONFIG_SCHED_DEBUG is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_RWSEMS is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set

# CONFIG_STACKTRACE is not set
# CONFIG_DEBUG_LIST is not set
# CONFIG_DEBUG_PLIST is not set
# CONFIG_DEBUG_SG is not set

# CONFIG_RCU_TRACE is not set
# CONFIG_RCU_EQS_DEBUG is not set