# CONFIG_EFI_VARIABLE_FILE_STORE is not set
CONFIG_CMD_EXT4=y
# CONFIG_CMD_EXT4_WRITE is not set
CONFIG_CMD_FAT=y
CONFIG_FS_EXT4=y
# CONFIG_EXT4_WRITE is not set
CONFIG_FS_FAT=y
CONFIG_FAT_WRITE=y
CONFIG_FAT_RENAME=y
CONFIG_FS_FAT_MAX_CLUSTSIZE=65536
